* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

@import 'scss/colors';
@import 'scss/layout';
@import 'scss/spacing';
@import 'scss/typography';

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  position: relative;

  background-color: $black-dark;

  &::-webkit-scrollbar {
    padding-right: 2px;
    width: 8px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: $black-light;
  }
}

.border {
  border: 1px solid red;
}

.hidden {
  overflow: hidden;
}

.relative {
  position: relative;
}

svg,
img {
  width: 100%;
  //height: auto;
}

@import 'scss/menu';
@import 'scss/icons';
@import 'scss/buttons';
